h1, h2 {
  text-align:center;
  margin:0 auto;
  margin:10px 0px;
}

.app-logo {
  width: 400px;
  margin: 0 auto;
  margin-top:30px;
  img {
    width:100%;
  }
}

.hero-details {
  position:fixed;
  right:20px;
  top:20px;
  
  .hero-avatar {
    margin-top:20px;
    border-radius:12px;
  }
}

.scene-image {
  z-index:1;
  img {
    border-radius:12px;
  }
}

.hero-items {
  ul {
    list-style:none;
    margin:0px;
    padding:0px;
    
    li {
      padding:1px;
      background-color:#ccc;

      a {
        display:block;
        padding:10px;
        
        &:hover {
          background-color:#fff;
          color:#000;
        }
      }
    }
  }
}

.npc-hp {
  border:1px solid #ccc;
  height:30px;
  width:100%;
  
  .actual-hp {
    width:80%;
    height:30px;
  }
  
  .hp-number {
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    padding: 6px;
    font-weight: bold;
  }
  
  .hp-urgency-good {
    background-color:#81BD75;
  }
  
  .hp-urgency-average {
    background-color:#E19235;
  }
  
  .hp-urgency-critical {
    background-color:#CA2747;
  }
}

.scene-details {
  z-index:1;
  margin:0 auto;
  width:500px;
  padding:20px;
  line-height:22px;
}

.scene-actions {
  margin:0 auto;
  width:500px;
  border: 1px dashed #000;
  padding: 20px;
  
  h2 {
    margin-bottom:20px;
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align:center;
    overflow:auto;
    
    
    li {
      float:left;
      margin:0px 10px;
      color:#ccc;
      width:90px;
      
      a {
        display:block;
        width:100%;
        border:1px solid #000;
        
        &:hover {
          opacity:1;
          color:#999;
          background-color:#eee;
        }
      }
    }
  }
}


.game-over {
  margin-top:40px;
  text-align:center;
  
  .classic {
    color:#fff;
    font-size:100px;
    line-height:100px;
    margin-bottom:50px;
  }
  
  h2 {
    margin-top:80px;
  }
  
  h2, h3 {
    color:#fff;
    margin-bottom:20px;
  }
}